version: "3.8"
services:
  web:
    build:
      context: .
    image: web
    volumes:
      - .:/app
    ports:
      - ${PORT:-8000}:${PORT:-8000}
    # Let the init system handle signals for us.
    # among other things this helps shutdown be fast
    init: true
    environment:
      CTMS_DB_URL: postgresql://postgres@postgres/postgres
      CTMS_SECRET_KEY: some-secret  # used by integration tests  # pragma: allowlist secret
    env_file: .env
    depends_on:
      - postgres
  postgres:
    image: postgres:12
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      LC_COLLATE: en_US.UTF8
      LC_CTYPE: en_US.UTF8
      PGUSER: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 5
  postgres-admin:
    image: adminer
    restart: always
    depends_on:
      postgres:
          condition: service_healthy
    ports:
      - 8080:8080
  basket:
    profiles: [integration-test]
    image: mozmeao/basket
    environment:
      - DATABASE_URL=mysql://root@mysql/basket  # psycopg2 not installed
      - CTMS_ENABLED=True
      - CTMS_URL=http://web:8000
      - CTMS_CLIENT_ID=id_integration-test
      # See `ctms-db-init.sql`
      - CTMS_CLIENT_SECRET=secret_xPS8MJSswx1IYOniwXZUV3vNQ5YnYJz5H1UkOSLKqrk  # pragma: allowlist secret
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - SECRET_KEY=sssssssshhhhhhhhhh
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
      - OAUTHLIB_INSECURE_TRANSPORT=1
      - URLWAIT_TIMEOUT=30
    command:
      ./bin/run-dev.sh
    ports:
      - 9000:8000
    depends_on:
      - mysql
      - redis
      - basket-worker
  basket-worker:
    profiles: [integration-test]
    image: mozmeao/basket
    environment:
      - DATABASE_URL=mysql://root@mysql/basket  # psycopg2 not installed
      - CTMS_ENABLED=True
      - CTMS_URL=http://web:8000
      - CTMS_CLIENT_ID=id_integration-test
      # See `ctms-db-init.sql`
      - CTMS_CLIENT_SECRET=secret_xPS8MJSswx1IYOniwXZUV3vNQ5YnYJz5H1UkOSLKqrk  # pragma: allowlist secret
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - SECRET_KEY=sssssssshhhhhhhhhh
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
      - OAUTHLIB_INSECURE_TRANSPORT=1
      - URLWAIT_TIMEOUT=30
    command:
      ./bin/run-worker.sh
    depends_on:
      - mysql
      - redis
      - web
  mysql:
    profiles: [integration-test]
    image: mariadb
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=basket
  redis:
    profiles: [integration-test]
    image: redis
