version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: web
    volumes: 
      - .:/app
    ports:
      - ${PORT:-8000}:${PORT:-8000}
    # Let the init system handle signals for us.
    # among other things this helps shutdown be fast
    init: true
    environment:
      CTMS_DB_URL: postgresql://postgres@postgres/postgres
    env_file: .env
    depends_on:
      - postgres
  postgres:
    image: postgres:12
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      LC_COLLATE: en_US.UTF8
      LC_CTYPE: en_US.UTF8
      PGUSER: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 5
  postgres-admin:
    image: adminer
    restart: always
    depends_on:
      postgres:
          condition: service_healthy
    ports:
      - 8080:8080

