# This file is for settings that are specific to your docker local development
# environment. Since these are specific to your local development environment,
# don't check them in.

# Set this to always call docker-compose run with --service-ports in the Makefile
# MK_WITH_SERVICE_PORTS=--service-ports

# Set this to skip calling "docker-compose down" after "make tests"
# MK_KEEP_DOCKER_UP=1
