name: Integration test

on: pull_request

jobs:
  run_test:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build containers
      run: make build

    - name: Start containers
      run: make setup

    - name: Run tests
      run: make integration-test
