name: Run lint

on: pull_request

jobs:
  run_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry==1.3.2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11.1"
          cache: "poetry"
      - name: Install dependencies
        run: poetry install
      - run: bin/lint.sh
        env:
          CTMS_DB_URL: postgresql://user@localhost/
          CTMS_SECRET_KEY: secret_${{ github.sha }}
