name: Run tests

on: pull_request

jobs:
  run_test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
          LC_COLLATE: en_US.UTF8
          LC_CTYPE: en_US.UTF8
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build test image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile
          push: false
          target: "development"
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}
      
      - name: Run linting
        run: |-
          docker run --rm \
          ghcr.io/${{ github.repository }}:${{ github.sha }} \
          ./docker/lint.sh
      
      - name: Run tests
        run: |-
          docker run --rm \
          -e CTMS_DB_URL \
          -e CTMS_SECRET_KEY \
          ghcr.io/${{ github.repository }}:${{ github.sha }} \
          ./docker/test.sh
        env:
          CTMS_DB_URL: postgresql://postgres:postgres@172.17.0.1:5432/postgres
          CTMS_SECRET_KEY: secret_${{ github.sha }}
  
  build_production_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build production image 
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile
          push: false
          target: "production"
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}-test-build
